.seznam1 {
    list-style-type: decimal;
}

.seznam2 {
    list-style-type: disc;
}

abbr {
    font-weight: bold;
}

#obal {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 5px;
}

body {
    background-image: url(../img/background.png);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-top: 20px;
    text-align: center;
}

#text {
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    text-align: center;
}

table {
    border-spacing: 0;
    border: 1px solid black;
}

th, td {
    padding: 10px;
    border: 1px solid black;
}

p {
    text-align: justify;
}